/* global.css */
.custom-scrollbar::-webkit-scrollbar {
    width: 12px;
  }
  
  .custom-scrollbar::-webkit-scrollbar-track {
    background: #061634;
  }
  
  .custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: #FFFFFF;
    border-radius: 6px;
  }
  
  /* For Firefox */
  .custom-scrollbar {
    scrollbar-width: thin;
    scrollbar-color: #FFFFFF #061634;
  }
  